# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Build files
build/
dist/

# IDE settings
.vscode/
.idea/

# Simulation outputs
*.csv